@media screen and (max-width: 768px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .button {

        margin-top: 5px;
        width: 300px;
        
    }

}
@media  and (max-width:1000px){
    .description {
        width: 50%;
        
    }
}